@tailwind base;
@tailwind components;
@tailwind utilities;

body{
	background-image: url(https://thumbs.dreamstime.com/b/fruits-vegetables-blue-wooden-background-food-background-top-view-free-space-your-text-fruits-vegetables-blue-182821068.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;	
}

.header{
    font-family: Cookie, cursive;
}